.pageSection{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: #ffffff;
}

.pageSection,
.radiusLarge{
    min-height: 110vh;
    margin-top: 1rem;
    padding-top: 2rem;
    border-radius: 3.75rem;
}

.subject{
    padding-left: 2rem;
    margin-top:20px;
    margin-bottom: 2rem;
    color: #0c0e18;
    font-size: var(--fs-700);
    line-height: 50px;
}

.containerL {
    position: relative;
    max-width: 91.5rem;
    margin-right: auto;
    margin-left: auto;
}

.ulCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}

.liCard {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.75rem;
    color: #0c0e18;
    background: hsl(var(--clr-dark)/.3);
}

.liCard p{
    text-align: left;
    padding-top: 1.75rem;
}
.liCard ul{
    text-align: left;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.liCard p:first-of-type + p{
    font-size: 1.75rem;
}

.liCard p:nth-child(3){
    font-size: 1rem;
    padding-top: 0;
    border-bottom: 2px solid hsla(0,0%,80%,.6);
}

.liCard:first-of-type + .liCard{
    color: #ffffff;
    background: hsl(var(--clr-dark)/.8);
}

.introText {
    position: relative;
    z-index: 2;
    width: 70%;
    max-width: 52.8rem;
    margin-bottom: 16rem;
    padding-top: 5rem;
}

.introP {
    font-size: var(--fs-400);
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.arrow {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(360deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-bottom: 5px solid hsl(var(--clr-dark)/.3);
    border-right: 5px solid hsl(var(--clr-dark)/.8);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media (min-width: 40rem) {
  .arrow {
    bottom: -80px;
  }

  .liCard {
      width: 30%;
  }
}


